<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registrations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 6px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Registrations</h1>
        <table style="width: 100%">
            <tr>
                <th>No</th>
                <th>teamName</th>
                <th>Domain</th>
                <th>teamSize</th>
                <th>TeamLeaderName</th>
                <th>TeamLeaderEmail</th>
                <th>TeamLeaderPhone</th>
                <th>TeamLeaderCollege</th>
                <th>member1Name</th>
                <th>member1Email</th>
                <th>member1Phone</th>
                <th>member1College</th>
                <th>member2Name</th>
                <th>member2Email</th>
                <th>member2Phone</th>
                <th>member2College</th>
                <th>member3Name</th>
                <th>member3Email</th>
                <th>member3Phone</th>
                <th>member3College</th>
            </tr>
            <% participants.forEach((participant,i)=> { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= participant.teamName %></td>
                <td><%= participant.domain %></td>
                <td><%= participant.teamSize %></td>
                <td><%= participant.leadName %></td>
                <td><%= participant.leadEmail %></td>
                <td><%= participant.leadMobile %></td>
                <td><%= participant.leadClg %></td>
                <td><%= participant.m1Name %></td>
                <td><%= participant.m1Email %></td>
                <td><%= participant.m1Mobile %></td>
                <td><%= participant.m1Clg %></td>
                <td><%= participant.m2Name %></td>
                <td><%= participant.m2Email %></td>
                <td><%= participant.m2Mobile %></td>
                <td><%= participant.m2Clg %></td>
                <td><%= participant.m3Name %></td>
                <td><%= participant.m3Email %></td>
                <td><%= participant.m3Mobile %></td>
                <td><%= participant.m3Clg %></td>
            </tr>
            <% }) %>
    </body>
</html>